/* Style Sheet */
/* Link All Pages */

/* BIG */
.big{
    background-color: #ccc5b9;
}


/* TOP BORDER */
.borderTop{
    background-color: #252422;
    text-align: center;
}
.borderTop :any-link{
    color: #fffcf2;
    text-decoration: none;
}
.borderTop :any-link:hover{
    color: darkcyan;
}
.borderTop h1{
    padding: 5px;
    color: #fffcf2;
}

/* BODY */
.body{
    background-color: darkcyan;
    color: #fffcf2;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
}
.body input{
    box-shadow: 10px 10px 10px #403d39;
    padding: 20px;
    background-color: #252422;
    color: #fffcf2;
    border-radius: 40px;
}
.body input:hover{
    color: darkcyan;
}
#AboutMePage{
    margin-bottom: 50px;
}

/* about me page */
.aboutWork{
    background-color: darkcyan;
    color: #fffcf2;
    padding: 20px;
    border-radius: 40px;
}
.aboutWork li{
    padding: 10px;
}
.aboutWork h4{
    padding: 10px;
}

/* BOTTOM BORDER */
.borderBottom{
    background-color: #252422;
}
.borderBottom :any-link{
    color: #fffcf2;
    text-align: center;
    text-decoration: none;
}
.borderBottom :any-link:hover{
    color: darkcyan;
}

/* main in project page */
.one{
    background-color: darkcyan;
    border-radius: 40px;
}
.two{
    background-color:#252422;
    border-radius: 40px;
}
.three{
    background-color: darkcyan;
    border-radius: 40px;
}
.main{
    text-align: center;
    color: white;
}


/* space */
.space{
    height: 50px;
}
.space1{
    height: 120px;
}
.space2{
    height: 10px;
}