/* Style Sheet */
/* Link All Pages */

/* BIG */
.big{
    background-color: #ccc5b9;
}


/* TOP BORDER */
.borderTop{
    background-color: #252422;
    text-align: center;
}
.borderTop :any-link{
    color: #fffcf2;
    text-decoration: none;
}
.borderTop :any-link:hover{
    color: cadetblue;
}
.borderTop h1{
    padding: 5px;
    color: #fffcf2;
}

/* sizing */
@media(min-width: 560px){
    .one{
        border-radius: 40px;
    }
    .two{
        border-radius: 40px;
    }
    .three{
        border-radius: 40px;
    }
    .Me{
        padding: 20px;
        border-radius: 40px;
    }
    .aboutWork{
        border-radius: 40px;
    }
    .b2{
        padding: 20px;
    }
    .b3{
        padding: 20px;
    }
    .b1{
        padding: 50px;
    }
    .body{
        border-radius: 40px;
    }
}
.b1{
    padding-top:150px;
    padding-bottom:150px;
}
.b2{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* BODY */
.body{
    background-color: cadetblue;
    color: #fffcf2;
    padding: 10px;
    text-align: center;
}
.body input{
    box-shadow: 10px 10px 10px #403d39;
    padding: 20px;
    background-color: #252422;
    color: #fffcf2;
    border-radius: 40px;
}
.body input:hover{
    color: cadetblue;
}
#AboutMePage{
    margin-bottom: 50px;
}
.Me{
    background-color: cadetblue;
    color: #fffcf2;
}
.name{
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.Me h2{
    text-align: center;
    padding-bottom: 10px;
}
.Me img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
@media(min-width: 900px){
   .Me img{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
   }
}
@media(min-width: 1100px){
    .Me img{
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
 }

/* about me page */
.aboutWork{
    background-color: cadetblue;
    color: #fffcf2;
    padding: 40px;
}
.aboutWork li{
    padding: 10px;
}
.aboutWork h2{
    padding-bottom: 10px;
    text-align: center;
}


/* project page */
.main h2{
    padding: 20px;
}
.main li{
    list-style-type: none;
}
.main h5{
    padding-top: 15px;
    padding-bottom: 5px;
}
.d{ 
    border-top: 2px solid white;
    width: 150px;
    padding-bottom: 5px;
    margin: auto;
}
#box1{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
#box2{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
#box3{
    border-right: 2px solid white;
    margin-bottom: 20px;
}
#box4{
    margin-bottom: 20px;
}
@media (max-width: 1000px){
    #box1{
        border: none;
        border-top: 2px solid white;
    }
    #box2{
        border: none;
        border-top: 2px solid white;
    }
    #box3{
        border: none;
        border-top: 2px solid white;
    }
    #box4{
        border: none;
        border-top: 2px solid white;
    }
}/* end media */
/* links for pages */
.b3 :any-link{
    text-decoration: none;
}
.b3 img{
    height: 250px;
    width: 300px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 40px 40px 0px 0px ;
    margin-top: 20px;
}
.b3 p{
    padding: 10px;
    height: 50px;
    width: 300px;
    color: cadetblue;
    margin: auto;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 0px 0px 40px 40px ;
    text-decoration-line: none;
    background-color: white;
    margin-bottom: 20px;
}
/* hover for links */
.b3 :any-link:hover img{
    scale: 1.1;
}
.b3 :any-link:hover p{
    scale: 1.1;
}
.b3{
    padding-top:50px;
    padding-bottom:50px;
}
/* media for when it gets to small to only have bottom on 1,2,3 none on four */



/* BOTTOM BORDER */
.borderBottom{
    background-color: #252422;
}
.borderBottom :any-link{
    color: #fffcf2;
    text-align: center;
    text-decoration: none;
}
.borderBottom :any-link:hover{
    color: cadetblue;
}

/* main in project page */
.one{
    background-color: cadetblue;
}
.two{
    background-color:#252422;
}
.three{
    background-color: cadetblue;
}
.main{
    text-align: center;
    color: white;
}


/* space */
.space{
    height: 50px;
}
.space1{
    height: 120px;
}
.space2{
    height: 10px;
}



/* home page */

.body :any-link{
    padding: 20px
}
.body span{
    padding: 20px;
}
.body{
    padding: 50px;
}
#Btn{
	position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      
      to left,
      hsl(0, 0%, 61%) 0%,
      hsl(0 0% 50%) 8%,
      hsl(0, 0%, 50%) 92%,
      hsl(0, 0%, 61%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(182, 25%, 50%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  #Btn:hover {
    filter: brightness(110%);
  }
  #Btn:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  #Btn:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  #Btn:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  #Btn:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  #Btn:focus:not(:focus-visible) {
    outline: none;
  }